<div class="container">

    <h1>NEW QUESTION</h1>

    <%= simple_form_for @question do |f| %>
    <%= f.input :text %>
    <%= f.input :answer %>
    <%= f.input :difficulty do %>
    <%= f.select :difficulty, Question.difficulty.enum_for(:each_with_index).map { |q, i| [q, i] }, include_blank: true %>
    <% end %>
    <%= f.input :topic do %>
    <%= f.select :topic, Topic.all.enum_for(:each_with_index).map { |t, i| [t.name, i] }, include_blank: true %>
    <% end %>
    <%= f.label "Whiteboard Question" %>
    <%= f.check_box :whiteboard, {}, "true", "false"%> <br>
    <%= f.button :submit %>
    <% end %>


    <h1>Create a topic</h1>

    <%= simple_form_for @topic do |f| %>
    <%= f.text_field :name %>
    <%= f.label :name %>
    <%= f.submit :submit %>
    <% end %>
</div>