<div class="container-fluid">
    <div class="row centered">
        <h1 class="instruct">Select <%= @topics_left%> Topics</h1>
        <h1>Choose or create an account</h1>

        <%= form_for @user do |f| %>
        <%= f.text_field :first_name %>
        <%= f.label :first_name %>

        <%= f.text_field :last_name %>
        <%= f.label :last_name %>

        <%= f.text_field :email %>
        <%= f.label :email %>  

        <%= f.text_field :position %>
        <%= f.label :position %>

        <%= f.submit :submit %>
        <% end %>
    </div>
    
</div>

<div class="container-fluid">
    <div class="row centered">
        <% @users.each do |u| %>
        <%= link_to u do %>
        <div class="user_button">
            <h1> <%= u.full_name %> </h1>
            <h5> <%= u.position %> </h5>
        </div>
        <% end %>
        <% end %>
    </div>
</div>

<div class="row centered">

    <% for i in 0...@topics.count do %>
    <%= form_tag quiz_home_path, class:"btn-group donate-now" do%>

    <%= hidden_field_tag "selection", i %>
    <%= submit_tag @topics[i], class:"btn btn-primary"%>
    <% end %>
    <br>    

    <% end%>
</div>
</div>

</div>