<div class="container-fluid">
    <div class="row centered">


        <h1>Game: <%= @game.title %></h1>
    </div>
</div>

<!-- DISPLAY TOPICS THIS GAME HAS -->
<!-- MAKE TOPIC A MODEL -->
<!-- HAVE EACH QUESTION SELECT A TOPIC AS STRING -->
<!-- DIFFICULTY 0,1,2 -->
<!-- WHITEBOARD flag for each question -->
<!-- LIMIT 5 TOPICS PER GAME -->
<!-- START BUTTON TO INITIALIZE GAME -->
<!-- NAVIGATE TO MAKE TWO TEAMS, TEAM ONE SELECT MEMBERS -->
<!-- TEAM TWO, JUST SELECT A NAME and ADD REMAINING STUDENTS -->
<div class="container-fluid">
    <div class="row centered">
        <h1>Topics (choose <%= 5-@game.topics.count%>):</h1>
        <% @topics.each do |t| %>
        <% if !@game.topics.include?(t)%>
        <%= link_to add_topic_path({game_id: @game, topic_id: t}), method: :post do %>
        <span class="user_button">
            <h1> <%= t.name %> </h1>
        </span>
        <% end %>
        <% end %>
        <% end %>


        <h1>Selected Topics (<%= @game.topics.count%>):</h1>
        <% @topics.each do |t| %>
        <% if @game.topics.include?(t)%>
        <%= link_to remove_topic_path({game_id: @game, topic_id: t}), method: :post do %>
        <span class="user_button">
            <h1> <%= t.name %> </h1>
        </span>
        <% end %>
        <% end %>
        <% end %>
    </div>
</div>